<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<div class="container text-center">
<h1>Password Generator</h1>

<form action="{% url 'password' %}">
  <select name="length">
    <option value="6">6</option>
    <option value="12" selected="selected">12</option>
    <option value="16">16</option>
  </select> Length

  <br>
  <input type="checkbox" name="uppercase" value="on">Uppercase</input>

  <br>
  <input type="checkbox" name="numbers" value="on">Numbers</input>

  <br>
  <input type="checkbox" name="special" value="on">Special characters</input>

  <br>
  <input type="submit" value="Generate Password" class="btn btn-primary">
</form>
</div>
<br>
<a href="{% url 'about' %}">About</a>
